.body-wrapper{
    background-image: url(./bg4.png);
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    display: block;
    width: 80%;
    top:800px;
    left: 90px;
}

.absolute:hover{
    opacity: 0.7;
    cursor: pointer;
}

